.product {
  display: inline;

  .image-container {
    width: 162px;
    max-height: 240px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);

    &:hover {
      -ms-animation: gift-image-container-animate .3s;
      -webkit-animation: gift-image-container-animate .3s;
      -moz-animation: gift-image-container-animate .3s;
      box-shadow: 0 3px 14px 5px rgba(0, 0, 0, 0.15);
      margin: -1px 2px;
    }

    .button-container {
      display: none;

      .button-wrapper {
        margin: 0 0 5px;
        opacity: 0.9;

        .gift-button {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5e9be1), color-stop(1, #4372a8));
          background: -moz-linear-gradient(center top, #5e9be1 5%, #4372a8 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9be1', endColorstr='#4372a8');
          background-color: #5e9be1;
          border-radius: 2px 2px 2px 2px;
          box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.4);
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          font-family: arial;
          font-size: 14px;
          font-weight: normal;
          padding: 4px 16px;
          text-decoration: none;
        }
      }
    }

    &:hover {
      .button-container {
        position: absolute;
        top: 10px;
        left: 10px;
        float: left;
        display: block;
      }

      .button-wrapper {
        .gift-button {
          background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4372a8), color-stop(1, #5e9be1) );
          background: -moz-linear-gradient( center top, #4372a8 5%, #5e9be1 100% );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4372a8', endColorstr='#5e9be1');
          background-color: #4372a8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

    .picture {
      width: 160px;
      height: 160px;
    }
  }
}