.add-wishlist {
  margin-bottom: 50px;
  background-color: #00b388;
  color: white;
  font-size: 16px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 16px;
}

.wishlist-button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5e9be1), color-stop(1, #4372a8));
  background: -moz-linear-gradient(center top, #5e9be1 5%, #4372a8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9be1', endColorstr='#4372a8');
  background-color: #5e9be1;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 16px;
  text-decoration: none;
  margin-bottom: 8px;
}

.wishlists, .products {

  .row-wrapper {

    padding-bottom: 8px;

    .delete {
      text-decoration: underline;
      cursor: pointer;
      display: none;
      color: #0040D0;
    }

    &:hover {
      .delete {
        display: inline;
      }
    }
  }

}
