<div class="row">
    <button class="col-lg-12 add-wishlist" ng-click="openNewWishListModal()">Add Wishlist</button>
</div>

<div class="wishlists" ng-repeat="wishlist in wishlists" track by $index>
    <div class="row row-wrapper">
        <div ng-click="editWishListModal(wishlist)" class="col-lg-2 wishlist-button">{{wishlist.name}}</div>
        <div class="col-lg-2 delete" ng-click="deleteWishlist(wishlist, $index)">Remove</div>
    </div>
</div>
